<div class="gradiente">
</div>

<footer class= "footer">
    <div class="footer-azul ">
        <div class="footer-superior container-grid">
            <div class="blocofooter">
                <a routerLink = "" class="logo-footer"><img src="assets/img/GameManiaFooter.png" alt="Logotipo da loja"></a>
                <form class="newsletter" action="" >
                    <label for ="email" class="titulo-bloco-footer"> <p> Assine nossa newsletter:</p> </label>
                    <input id="email" type="email" placeholder="seuemail.@email.com" class="campo-email" required>
                    <button onclick="enviarEmail()"> Enviar </button>
                </form>
            </div>
            <div class="blocofooter">
                <p class="titulo-bloco-footer">Institucional</p>
                <a routerLink = "construcao">Quem somos</a>
                <a routerLink = "construcao"> Missão e Valores</a>
                <a routerLink = "construcao"> Politica de privacidade</a>
                <a routerLink = "construcao"> Politica de trocas e devoluções</a>
                <a routerLink = "construcao">Trabalhe conosco</a>
            </div>
            <div class="blocofooter">
                <p class="titulo-bloco-footer">Mais informações</p>
                <a routerLink = "construcao">Game Mania Club</a>
                <a routerLink = "construcao">Cartão Game Mania</a>
                <a routerLink = "construcao">Prazos e locais de entrega</a>
                <a routerLink = "construcao">Horários de funcionamento</a>
                <a routerLink = "construcao">Termos e condições de uso</a>
            </div>
            <div class="blocofooter contatos ">
                <p class="titulo-bloco-footer meios-de-contato"> Fale Conosco </p>
                <div class="meios-de-contato">
                    <a href="mailto:xxxx@xxxx.com"><img src="assets/img/o-email.png" alt="Ícone de uma carta">gamemania@email.com</a>
                </div>
                <div class="meios-de-contato">
                    <a href="tel:+XXxxXXXXXXXXX"><img src="assets/img/telefone-velho.png" alt="Ícone de um telefone" class = "icone-contato">(71) 3333 - 0000</a>
                </div>
                <div class="meios-de-contato">
                    <a href="tel:+XXxxXXXXXXXXX"><img src="assets/img/whatsapp.png" alt="Ícone do whatsapp">(71) 998899 - 9959</a>
                </div>
                <div class="meios-de-contato endereco">
                    <img src="assets/img/fixar-mapa.png" alt="Ícone de marcador de mapa"> Rua  Setembro, nº 1609                              
                    <p>CEP: 40.444.444</p>
                    <p>SALVADOR</p>
                </div>
                <div id="botao-fale-conosco">
                    <a href="#"><p>Fale conosco</p></a>
                </div>
            </div>
        </div>
    </div>                
    <div class="footer-inferior container-grid">
        <p>Copyrigth © Game Mania | All rights reserved</p>
        <div class="footer-inferior-sociais">
            <p>Conecte-se com a gente:</p>
            <div class="rede-sociais">
                <a href="#"><img src="assets/img/WhiteFacebook.png" alt="Icone Facebook"></a>
                <a href="#"><img src="assets/img/WhiteYoutube.png" alt="Icone Youtube"></a>
                <a href="#"><img src="assets/img/WhiteInstagram.png" alt="Icone Instagram"></a>
            </div>
        </div>
    </div>
</footer>
