
.banner-construcao{
    height: 225px;
    background-image: linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.70)100%), url(src/assets/img/construcao.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Saira', sans-serif !important;
    display: flex !important;
    align-items: center !important;
    margin-bottom: 2rem;
}

