
.banner-construcao{
    height: 225px;
    background-image: linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.70)100%), url(src/assets/img/construcao.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Saira', sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.gradiente{
    height: 5rem;
    background: linear-gradient(#2F323A, rgb(13, 46, 74, 1) 100%);
}
