<header class="header">
    <div class="container-grid posicionamento-header">
        <div class="logo">
            <a routerLink=""><img src="assets/img/GameManiaNeon.png" alt="Logotipo da loja"></a>
        </div>                
        <div class=" menu-superior">
            <div class="posicionamento-header-direito"> 
                <input type="search" placeholder="Digite sua busca aqui" class="campo-busca">
                <div class="carrinho">
                    <a routerLink = "carrinho"><img src="assets/img/carrinho-carrinho.png" alt="Ícone de carrinho de compras"> <h3>| <span id="itens-carrinho"> 0 </span>  </h3></a> 
                </div>
                <div class= "login">
                    <a routerLink = "login"><img src="assets/img/user.png" alt="ícone do usuário"><h3>Login | Cadastro</h3> </a>
                </div>
                <div class="menu-barras">
                    <a href="#" id="barras"><img src="assets/img/menu.png" class="barras" alt="Menu de barras"></a>
                    <!-- <a href="#" onclick="mostraMenu()"><img src="img/menu.png" class="barras" alt="Menu de barras"></a> -->
                </div>
            </div>
            <nav id="menu" class= menu>
                <a routerLink = "consoles"> Consoles </a>
                <a routerLink = "construcao"> Jogos </a>
                <a routerLink = "computadores"> Computadores </a>
                <a routerLink = "construcao"> Controles </a>
                <a routerLink = "construcao"> Acessórios </a>
                <a routerLink = "construcao"> Celulares </a>
                <a routerLink = "construcao"> Promoções </a>
            </nav>                    
        </div>
    </div>
</header>