
        <main class= "banner-paginas">
            <div class="banner-consoles d-flex flex-column justify-content-evenly"> 
                <h1> <strong>Consoles</strong></h1>
            </div>
        </main>

        <section class="container filtro">
            <nav class= "d-flex filtro-nav">
                <label>Ordenar por: </label>
                <select>
                    <option>Relevância</option>
                    <option>Mais vendidos</option>
                    <option>Preço: Menor para maior</option>
                    <option>Preço: Maior para o menor</option>
                    <option>Melhor avaliação</option>
                </select>
            </nav>
        </section>

        <section class="container d-flex ">
            <div class="container loja_lateral_esquerda col-lg-2 col-md-3">
                <strong class="titulo_categoria">Categorias:</strong> 
                <div class="categorias d-flex flex-column"> <strong class="categoria">Estado: </strong>
                    <a href="#" class="item_categoria"> Novos </a>
                    <a href="#" class="item_categoria"> Seminovos </a>
                    <a href="#" class="item_categoria"> Usados </a>
                </div>                
                <div class="preco"> <strong class="categoria">Preço: </strong><br>
                    Min : <input type="number" value="0"> <br> Máx: <input type="number" value="5000">
                    <input type="submit" value="OK">
                </div>
                <div class="marcas d-flex flex-column"> <strong class="categoria"> Marcas: </strong>
                    <a href="#" class="item_categoria">Xbox</a>
                    <a href="#" class="item_categoria">Nintendo</a>
                    <a href="#" class="item_categoria">Playstation</a>
                    <a href="#" class="item_categoria">Demais marcas</a>

                </div>
            </div>

            <div class="container loja_lateral_direita col-lg-10 col-md-9">
                <div class="d-flex flex-wrap justify-content-evenly .align-content-center pagina-produtos">
                    <div class="produto-loja produto">
                        <a href="#">
                            <img src="assets/img/console.jpeg" alt="Foto de console de video game vermelho de uso manual e retrô" class="imagem_compra">
                            <p class="produto_pagina nome-produto text-center"> Console Retrô Vermelho </p>
                            <p class="preco_pagina preco-produto text-center"> <strong class="price-green"> R$ 999,98</strong> em até <br> 12x sem juros</p>
                        </a>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="warn">Comprar</button>
                            </div>
                        </section>
                    </div>
                    <div class="produto-loja produto"> 
                        <a href="#">
                            <img src="assets/img/console2.jpeg" alt="Foto de um console de uso manual colorido" class="imagem_compra">
                            <p class="produto_pagina nome-produto text-center"> Console Colors </p>
                            <p class="preco_pagina preco-produto text-center"><strong class="price-green"> R$ 599,00</strong> em até <br> 12x sem juros</p>
                        </a>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="warn">Comprar</button>
                            </div>
                        </section>
                    </div>
                    <div class="produto-loja produto"> 
                        <a href="#">
                            <img src="assets/img/nintendo.jpeg" alt="Foto de um console manual da Nintendo" class="imagem_compra">
                            <p class="produto_pagina nome-produto text-center"> Nintendo Switch </p>
                            <p class="preco_pagina preco-produto text-center"><strong class="price-green"> R$ 2199,97</strong> em até <br> 12x sem juros</p>
                        </a>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="warn">Comprar</button>
                            </div>
                        </section>
                    </div>
                    <div class="produto-loja produto">
                        <a href="#">
                            <img src="assets/img/PS4.jpeg" alt="Foto do console do Playstation 4" class="imagem_compra">
                            <p class="produto_pagina nome-produto text-center"> Console Playstation 4 </p>
                            <p class="preco_pagina preco-produto text-center"><strong class="price-green">R$ 1799,98</strong> em até <br> 12x sem juros</p>
                        </a>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="warn">Comprar</button>
                            </div>
                        </section>
                    </div>
                    <div class="produto-loja produto"> 
                        <a href="#">
                            <img src="assets/img/xbox.jpg" alt="Foto do console Xbox W Series" class="imagem_compra">
                            <p class="produto_pagina nome-produto text-center"> Xbox W Series </p>
                            <p class="preco_pagina preco-produto text-center"><strong class="price-green">R$ 1799,98</strong> em até <br> 12x sem juros</p>
                        </a>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="warn">Comprar</button>
                            </div>
                        </section>
                    </div>
                    <div class="produto-loja produto"> 
                        <a href="#">
                            <img src="assets/img/psOld.jpeg" alt="Foto do Console Playststation Classic" class="imagem_compra">
                            <p class="produto_pagina nome-produto text-center"> Console PlayStation Classic </p>
                            <p class="preco_pagina preco-produto text-center"><strong class="price-green"> R$ 499,90</strong> em até <br> 12x sem juros</p>
                        </a>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="warn">Comprar</button>
                            </div>
                        </section>
                    </div>
                    <div class="produto-loja produto"> 
                        <a href="#">
                            <img src="assets/img/console-pp.jpeg" alt="Foto de dois consoles manuais da Tech+" class="imagem_compra">
                            <p class="produto_pagina nome-produto text-center"> Console Retrô Tech+ </p>
                            <p class="preco_pagina preco-produto text-center"> <strong class="price-green"> R$ 599,98</strong> em até <br> 12x sem juros</p>
                        </a>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="warn">Comprar</button>
                            </div>
                        </section>
                    </div>
                    <div class="produto-loja produto"> 
                        <a href="#">
                            <img src="assets/img/psvita.jpeg" alt="Foto do console manual da PS Vita" class="imagem_compra"> 
                            <p class="produto_pagina nome-produto text-center"> PS Vita </p>
                            <p class="preco_pagina preco-produto text-center"><strong class="price-green"> R$ 699,97</strong> em até <br> 12x sem juros</p>
                        </a>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="warn">Comprar</button>
                            </div>
                        </section>
                    </div>
                    <div class="produto-loja produto">
                        <a href="#">
                            <img src="assets/img/console.jpeg" alt="Foto de console de video game vermelho de uso manual e retrô" class="imagem_compra">
                            <p class="produto_pagina nome-produto text-center"> Console Retrô Vermelho </p>
                            <p class="preco_pagina preco-produto text-center"> <strong class="price-green"> R$ 999,98</strong> em até <br> 12x sem juros</p>
                        </a>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="warn">Comprar</button>
                            </div>
                        </section>
                    </div>
                    <div class="produto-loja produto"> 
                        <a href="#">
                            <img src="assets/img/console2.jpeg" alt="Foto de um console de uso manual colorido" class="imagem_compra">
                            <p class="produto_pagina nome-produto text-center"> Console Colors </p>
                            <p class="preco_pagina preco-produto text-center"><strong class="price-green"> R$ 599,00</strong> em até <br> 12x sem juros</p>
                        </a>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="warn">Comprar</button>
                            </div>
                        </section>
                    </div>
                    <div class="produto-loja produto"> 
                        <a href="#">
                            <img src="assets/img/nintendo.jpeg" alt="Foto de um console manual da Nintendo" class="imagem_compra">
                            <p class="produto_pagina nome-produto text-center"> Nintendo Switch </p>
                            <p class="preco_pagina preco-produto text-center"><strong class="price-green"> R$ 2199,97</strong> em até <br> 12x sem juros</p>
                        </a>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="warn">Comprar</button>
                            </div>
                        </section>
                    </div>
                    <div class="produto-loja produto">
                        <a href="#">
                            <img src="assets/img/PS4.jpeg" alt="Foto do console do Playstation 4" class="imagem_compra">
                            <p class="produto_pagina nome-produto text-center"> Console Playstation 4 </p>
                            <p class="preco_pagina preco-produto text-center"><strong class="price-green">R$ 1799,98</strong> em até <br> 12x sem juros</p>
                        </a>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="warn">Comprar</button>
                            </div>
                        </section>
                    </div>
                    <div class="produto-loja produto"> 
                        <a href="#">
                            <img src="assets/img/xbox.jpg" alt="Foto do console Xbox W Series" class="imagem_compra">
                            <p class="produto_pagina nome-produto text-center"> Xbox W Series </p>
                            <p class="preco_pagina preco-produto text-center"><strong class="price-green">R$ 1799,98</strong> em até <br> 12x sem juros</p>
                        </a>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="warn">Comprar</button>
                            </div>
                        </section>
                    </div>
                    <div class="produto-loja produto"> 
                        <a href="#">
                            <img src="assets/img/psOld.jpeg" alt="Foto do Console Playststation Classic" class="imagem_compra">
                            <p class="produto_pagina nome-produto text-center"> Console PlayStation Classic </p>
                            <p class="preco_pagina preco-produto text-center"><strong class="price-green"> R$ 499,90</strong> em até <br> 12x sem juros</p>
                        </a>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="warn">Comprar</button>
                            </div>
                        </section>
                    </div>
                    <div class="produto-loja produto"> 
                        <a href="#">
                            <img src="assets/img/console-pp.jpeg" alt="Foto de dois consoles manuais da Tech+" class="imagem_compra">
                            <p class="produto_pagina nome-produto text-center"> Console Retrô Tech+ </p>
                            <p class="preco_pagina preco-produto text-center"> <strong class="price-green"> R$ 599,98</strong> em até <br> 12x sem juros</p>
                        </a>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="warn">Comprar</button>
                            </div>
                        </section>
                    </div>
                    <div class="produto-loja produto"> 
                        <a href="#">
                            <img src="assets/img/psvita.jpeg" alt="Foto do console manual da PS Vita" class="imagem_compra"> 
                            <p class="produto_pagina nome-produto text-center"> PS Vita </p>
                            <p class="preco_pagina preco-produto text-center"><strong class="price-green"> R$ 699,97</strong> em até <br> 12x sem juros</p>
                        </a>
                        <section>
                            <div class="example-button-row">
                              <button mat-flat-button color="warn">Comprar</button>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
