<main class="banner-carrinho d-flex flex-column justify-content-evenly">
    <h1> <strong>Carrinho</strong></h1>
</main>

<section class="carrinho_html container d-flex flex-column col-lg-9">
    <h2> <i class="fas fa-shopping-cart"></i> </h2>
    <h2 class= "frase-meio-carrinho"> <strong>Seu carrinho está vazio</strong> </h2>
    <h3>Volte á <a routerLink= "">página inicial</a> ou utilize o campo de busca para encontrar seus produtos.</h3>
    <h3>Quando encontrá-los, retorne à esta página para concluir a sua compra.</h3>
</section>

