<section id="carrossel" class="carrossel banner-paginas"> 
    <div class="banner">
        <div class="container-grid itens-banner">
            <div class="texto-banner-esquedo">
                <h1>Assine o <a href="#">Game Mania Club</a> e tenha acesso á descontos exclusivos! </h1>
            </div>
            <div class="texto-banner-direito">
                <h1> Compre á vista e ganhe 10% de desconto em todo o site.</h1>
            </div>
        </div> 
    </div>
    <div class="banner2">
        <div class="container-grid itens-banner-meio justify-content-end" >
            <div class="texto-banner-direito uppercase">
                <h1> <span class="uppercase">Black Friday</span>: Descontos imperdíveis para você aproveitar! </h1>
            </div>
        </div> 
    </div>
    <div class="banner3">
        <div class="container-grid itens-banner justify-content-center">
            <div class="texto-banner-esquedo">
                <h1> <a href="#">Computadores</a> com 10% de desconto e <span class="uppercase"> frete grátis!</span></h1>
            </div>
        </div> 
    </div>      
</section>

<section id="produto-nao-encontrado">
</section>

<section class="cards">
    <div class="card-informativo">
        <img src="assets/img/cadeado-trancado.png" alt="Ícone de um cadeado"> <h2>Compra no site 100% segura</h2>
    </div>
    <div class="card-informativo">
        <img src="assets/img/pagamento-com-cartao-de-credito.png" alt="Ícone de cartões"><h2> Aceitamos todos os cartões </h2>
    </div>
    <div class="card-informativo">
        <img src="assets/img/caminhao-de-entrega.png" alt="Ícone de caminhão de entregas" id="caminhao"> <h2>Frete Grátis Norte-Nordeste</h2>
    </div>
</section>

<section class="promocao container-grid-smaller">
    <a href="#"><h3 class="titulo-secao"> <p>Produtos em promoção</p> </h3></a>
        <div class="produtos-promocao">
            <div class="produto">
                <a href="#">
                    <img src="assets/img/console.jpeg" alt="Foto de console de video game vermelho e retrô">
                    <h4 class="nome-produto"> Console Retrô Vermelho </h4>
                    <h4 class="preco-produto">de: <strong class="price-red"> R$1250,00 </strong> <br> por apenas: <strong class="price-green">R$999,98 </strong></h4>
                </a>
            </div>
            <div class="produto">
                <a href="#">
                    <img src="assets/img/Headphone.jpg" alt="Foto de um Headphone preto">
                    <h4 class="nome-produto"> Headphone Gaming Pro </h4>
                    <h4 class="preco-produto">de: <strong class="price-red">R$250,00</strong> <br> por apenas: <strong class="price-green">R$200,00</strong></h4>
                </a>
            </div>
            <div class="produto">
                <a href="#">
                    <img src="assets/img/vr3.jpeg" alt="Foto de um óculos VR em uso por um homem">
                    <h4 class="nome-produto"> Óculos VR Ultimate 7C </h4>
                    <h4 class="preco-produto">de: <strong class="price-red">R$799,00 </strong> <br> por apenas: <strong class="price-green">R$699,00</strong></h4>                                
                </a>
            </div>
        </div>               
</section>
<section class="mais-vendidos container-grid-smaller">
    <a href="#"><h3 class="titulo-secao"> <p>Mais vendidos</p></h3></a>
        <div id="mais-vendidos-top" class="produtos-mais-vendidos-top">
            <div class="produto">
                <a href="#">
                    <img src="assets/img/mario.jpeg" alt="Foto de uma boneco do Mario Bross">
                    <h4 class="nome-produto">Miniatura Mario Bross</h4>
                    <h4 class="preco-produto"> <strong class="price-green">R$ 59,98</strong> em até <br> 10X sem juros</h4>
                </a>
            </div>
            <div class="produto">
                <a href="#">
                    <img src="assets/img/nintendo.jpeg" alt="Foto do console Nintendo Switch">
                    <h4 class="nome-produto">Nintendo Switch</h4>
                    <h4 class="preco-produto"> <strong class="price-green">R$ 2199,97</strong> em até <br> 12X sem juros</h4>
                </a>
            </div>
            <div class="produto"> 
                <a href="#">
                    <img src="assets/img/tablet.jpeg" alt="Foto de um tablet preto">
                    <h4 class="nome-produto">Tablet Infomais Tech </h4>
                    <h4 class="preco-produto"> <strong class="price-green">R$ 1699,99</strong> em até <br> 12X sem juros</h4>
                </a>
            </div>
        </div>
        <div class="produtos-mais-vendidos-bottom">
            <div class="produto">
                <a href="#">
                    <img src="assets/img/teclado-gamer.jpg" alt="Foto de um teclado preto de computador">
                    <h4 class="nome-produto">Teclado Gamer Ligth</h4>
                    <h4 class="preco-produto"> <strong class="price-green">R$ 75,99 </strong>em até <br> 10X sem juros</h4>                                
                </a>
            </div>
            <div class="produto">
                <a href="#">
                    <img src="assets/img/Mouse.jpeg" alt="Foto de um mouse preto de computador retroiluminado com luzes coloridas">
                    <h4 class="nome-produto">Mouse Gamer Rainbow</h4>
                    <h4 class="preco-produto"> <strong class="price-green">R$79,99</strong> em até <br> 10X sem juros</h4>
                </a>
            </div>
            <div class="produto">
                <a href="#">
                    <img src="assets/img/PS4.jpeg" alt="Foto do console do Playstation 4">
                    <h4 class="nome-produto">Console Playstation 4</h4>
                    <h4 class="preco-produto"> <strong class="price-green">R$ 1799,98 </strong>em até <br> 12X sem juros</h4>                                
                </a>
            </div>
        </div>             
</section>